.section-1 {
   height: 260px;
   background: #171616;
   margin: 0;
   
 }
.swiper-container {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   
 }
 .swiper-slide {
   background-position: center;
   background-size: cover;
   width: 450px !important;
   height: 250px !important;

 }

 .swiper-slide .imgs {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    overflow: hidden;
    z-index: 1;
 }

 .swiper-pagination {
    position: relative !important;
 }